<div class="mt-5 d-flex justify-content-center">
    <form class="new-record-wrapper">
        <div class="row mb-5">
            <label for="name" class="col-sm-2 col-form-label">*必填欄位:</label>
            <div class="col-sm-10">
                <h4 class="text-center">請修改你的支出</h4>
            </div>
        </div>
        <div class="row mb-5">
            <label for="name" class="col-sm-2 col-form-label">名稱*:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="name">
            </div>
        </div>
        <div class="row mb-5">
            <label for="date" class="col-sm-2 col-form-label">日期*:</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="date" value="2023-07-01">
            </div>
        </div>
        <div class="row mb-5">
            <label for="category" class="col-sm-2 col-form-label">類別*:</label>
            <div class="col-sm-10">
                <select class="form-select" aria-label="Sort" name="category">
                    <option value="" disabled selected>請選擇類別</option>
                    <option value="home">家居物業</option>
                    <option value="traffic">交通出行</option>
                    <option value="entertainment">休閒娛樂</option>
                    <option value="food">餐飲食品</option>
                    <option value="other">其他</option>
                </select>
            </div>
        </div>
        <div class="row mb-4">
            <label for="amount" class="col-sm-2 col-form-label">金額*:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="amount">
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10 text-center">
                <button type="submit" class="btn btn-outline-dark" style="width: 300px;height: 50px">送出</button>
            </div>
        </div>
    </form>
</div>